<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="container">

        <div class="card">

            <h1>Login</h1>

            {% if messages %}
                {% for message in messages %}

                    <p class="{% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </p>

                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <input
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required
                >

                <input
                    type="password"
                    name="senha"
                    placeholder="Senha"
                    required
                >

                <button type="submit">
                    Entrar
                </button>

            </form>

            <a href="/registro/" class="link">
                Criar conta
            </a>

        </div>

    </div>

</body>
</html>
