<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Registro</title>

    {% load static %}

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="container">

        <div class="card">

            <h1>Registrar Usuário</h1>

            {% if messages %}
                {% for message in messages %}

                    <p class="{% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </p>

                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <input
                    type="text"
                    name="nome"
                    placeholder="Nome"
                    required
                >

                <input
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required
                >

                <input
                    type="password"
                    name="senha"
                    placeholder="Senha"
                    required
                >

                <button type="submit">
                    Registrar
                </button>

            </form>

            <a href="/" class="link">
                Voltar para Login
            </a>

        </div>

    </div>

</body>
</html>
